#parent {
    border: 4px solid tomato;
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: tomato;
}
#child {
    border: 4px solid pink;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 150px;
    left: 150px;
    background-color: pink;
}
