table,th,td {
    border: 3px solid grey;
    width: 400px;
    height: 50px;
}

th {
    background-color: teal;
    color: lightpink;

}
td {
    background-color: lightblue;
    text-align: center;
}